body{
    background-image:url("social-media-icon-free-free-vector-removebg-preview.png"), url("5639077.jpg");
    background-repeat:no-repeat;
    background-size: 15%, cover;
    margin-top: 10px;
}
