header{
    background-color:hsl(0, 43%, 46%);
    border-radius: 20px;
    box-shadow: 10px;
    text-align: center;
    font-size: 25px;
}
header a{
    text-decoration: none;
    color:hsl(184, 70%, 58%);
}

.articulo1{
    background-color: rgb(73, 107, 112);
    color:rgb(174, 240, 157);
    border-radius: 40px;
    text-align: center;

}
.articulo2{
    background-color:hsla(0, 88%, 30%, 0.4);
    color:hsl(206, 85%, 41%);
    border-radius: 40px;
    text-align: center;

}